---
layout: homepage
title: Home
---

<main>
    <a id="main" name="main"></a>
    <section class="container">
        <!-- <img src="/img/photo1.jpg" style="max-width: 100%" alt=""> -->
    </section>
    <br><br>

    <section class="container row flex">
        <div class="image">
            <img src="/img/photo1.jpg" alt="Photo taken at RevolutionUC">
        </div>
        <div class="text">
            <p>RevolutionUC is a 24 hour student hackathon at the University of Cincinnati that is organized by <a href="http://acmatuc.org/" target="_blank">ACM@UC</a>. This year, RevolutionUC is on March 3rd and 4th. We invite you to join 300+ motivated students for a weekend of code, community, and self-improvement!</p>
        </div>
    </section>

    <section class="container row flex">
        <div class="text">
            <p>A hackathon is an 24 hour event where teams work together to build and learn something new to solve a problem, and have fun doing it! Lorem ipsum. TODO: vertically center, add some padding.</p>
        </div>
        <div class="image">
            <img src="/img/photo1.jpg" alt="Photo taken at RevolutionUC">
        </div>
    </section>

    <section class="background-purple">
        <div class="call-to-action container">
            <p class="lead text-center">RevolutionUC is free and open to all students.</p>

            <div class="text-center">
                <a class="btn btn--tertiary" href="/register">Register Now</a> &nbsp;
                <a class="btn btn--secondary" href="/faq">See FAQ</a>
            </div>
        </div>
    </section>

    <section>
        <div class="container container--small">
            <p>RevolutionUC has been a leader in the Cincinnati hacker community since our first event in 2014. Check out submissions from our previous hackathons.</p>

            <div class="past-hacks">
                {% for hack in site.data.past-hacks %}
                <div class="hack">
                    {% if hack.link != null %}
                        <div>
                            <a href="{{hack.link}}" target="_blank">
                                <img class="past__hacks__image" src="{{ hack.image }}" alt="{{ hack.name }} logo">
                            </a>
                        </div>
                    <div><a href="{{hack.link}}" target="_blank">{{hack.time}}</a></div>
                    {% else %}
                    <div>{{hack.time}}</div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="background-purple-light">
        <div class="container call-to-action">
            <p class="lead">Interested in sponsoring RevolutionUC? It's a great way to connect with talented and motivated students! Send us an email at <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a> for information.</p>
        </div>
    </section>
</main>
