---
layout: default
permalink: /live-site/
useContainer: false
description: RevolutionUC Live Site
---


<div class="container container--fluid">
    <div class="container container--fluid">
        <h2 class="text-center">Live Site</h2>
        <p class="countdownText countdownText--live" id="countdownText">Time is running out!</p>
        <div class="barBackground" id="barBackground">
            <span>
                <!-- <p class="countdownText" id="countdownText">Time is running out!</p> -->
                <div class="barForeground" id="barForeground"></div>
            </span>
        </div>
    </div>
    <div class="live-row">
        <div class="live-section live-section--judging card columns-12">
            <h3 style="text-align: center;">IMPORTANT JUDGING INFORMATION</h3>
            <p>
                1. Please submit to <a href="https://revuc-viii.devpost.com" target="_">devpost</a>. The sooner you
                submit
                the smoother our judging will go! When you submit, make sure your project
                name, table number, and categories are correct! <strong>You can continue to edit your
                    submission until hacking ends at 1:30pm.</strong>
            </p>
            <p>
                2. Prepare for judging! You’ll be seen by 2 general judging groups, and by a
                group or judge for each project category you submit to. You’ll have 3 minutes
                to pitch your hack to our judges, remember to hit upon our three criteria:
                Learning, Execution, and Originality. <strong>Remember to tell the judge what you
                    learned this weekend!</strong> Be proud, this is your time to shine!
            </p>
            <p>
                3. Wait for dismissal to Zimmer Hall - Please don’t leave for closing ceremony
                until we announce to do so via Slack!
            </p>
            <p>
                4. The top projects will be announced at the closing ceremony, and given the
                chance to demo their projects to everyone, again for 3 minutes each. <strong>If you
                    have a hardware hack or complex setup, it’s a good idea to film a video in
                    case you make it to the final round!</strong> Our top projects will be chosen by our
                judge panel, and <strong>all</strong> prizes will be announced at the end of the closing
                ceremony!
            </p>
            <p>5. Go home and get some sleep!</p>
        </div>
    </div>
    <div class="live-row">
        <div class="live-section live-section--judging card columns-12">
            <h3 style="text-align: center;">TRAVEL REIMBURSEMENT</h3>
            <p>
                We offer carpool reimbursement on a case by case basis - receipts must be provided to receive travel
                reimbursement. We don’t offer reimbursement for flights. As a standard rule, we'll reimburse 15 cents
                per mile
                between UC and your school, up to $60 for a car with more than one participant, or $40 if traveling
                alone.
                If we have more reimbursement requests than anticipated, we'll drop the per mile rate fairly
                to accommodate all reimbursement applicants. You'll be able to apply for travel reimbursement
                following the event. If you’d like more information please do not
                hesitate to email us at <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a>.
            </p>
        </div>
    </div>
    <div class="live-row">
        <div class="live-section card columns-2"> <!-- columns-2 -->
            <h3 class="text-center">Quick Links</h2>
            <ul style="list-style: none; text-align: center; padding-left: 0%; margin-top: 0%;">
                <li style="align-content: center;"><a href="https://slack.revolutionuc.com" target="_blank"><img src = '/img/icons/slack.png' style='vertical-align: middle' />Join our Slack</a></li>
                <li style="align-content: center;"><a href="https://revuc-viii.devpost.com/" targer="_blank"><img src = '/img/icons/devpost.png' style='vertical-align: middle' />Submit to Devpost</a></li>
                <li style="align-content: center;"><a href="/index"><img src = '/img/icons/revuc.png' style='vertical-align: middle' />Go to our homepage</a></li>
            </ul>

            <h3 class="text-center" style="margin-top: 2em;">CTF</h3>
            <p style="margin-top: 0%;">If you wish to compete in Capture The Flag, please click <a href="http://ctf.cyberatuc.org/" target="_blank">here</a> to register. After registering post in the #ctf channel to get the competition URL. You can also post there for any questions/support.</p>
        
            <h3 class="text-center" style="margin-top: 2em;">Opening Slides</h3>
            <p style="margin-top: 0%;">Missed the opening ceremony?  You can view the opening ceremony slides <a href="https://docs.google.com/presentation/d/1p1SP9eHHQI_yABEDGWEAh82nNzMtCNdtnAoOxmNe2Ik/edit?usp=sharing">here</a>.</p>
        </div>
        <div class="live-section card columns-6"> <!-- columns-6 -->
            <h3 style="margin-bottom: 0;">Schedule</h3>
            <div>
                {% for item in site.data.schedule %}
                <div class="schedule-item flex">
                    {% if item.date %}
                    <div class="schedule-date">
                        <strong>{{item.date}}</strong>
                    </div>
                    {% else %}
                    <div class="schedule-time">
                        {{item.time}}
                    </div>
                    <div class="schedule-event">
                        {{item.event}}
                    </div>
                    <div class="schedule-location">
                        {{item.location}}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <h3>Workshop Schedule</h3>
            <table class="live-table">
                <thead>
                    <th>Time</th>
                    <th>Company</th>
                    <th>Topic</th>
                    <th>Location</th>
                </thead>
                <tbody>
                    {% for item in site.data.workshops %}
                    <tr>
                        <td>
                            <b>{{item.time}}</b>
                        </td>
                        <td>{{item.company}}</td>
                        <td>{{item.topic}}</td>
                        <td>{{item.room}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="live-section live-section--twitter card columns-4"> <!-- columns-4 -->
            <a class="twitter-timeline" data-lang="en" data-width="480" data-height="800" data-dnt="true" data-theme="light" href="https://twitter.com/Revolution_UC?ref_src=twsrc%5Etfw">Tweets by Revolution_UC</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </div>
    </div>
</div>

<br/>

<script src="/js/countdown-timer.js"></script>
<script>initProgressBar("2019/03/02 13:30:00", "2019/03/03 13:30:00", "hour");</script>
<!-- <script>initProgressBar("2019/02/25 12:00:00", "2019/02/25 18:21:00", "hour");</script> -->
