---
layout: default
title: Register
permalink: /register/
description: Registration for RevolutionUC — Hackathon at the University of Cincinnati from March 2-3, 2019
---
      <div class="container">
        <form name="registration">
          <div class="circle top left"></div>
          <div class="circle top right"></div>
          <div class="circle bottom left"></div>
          <div class="circle bottom right"></div>

          <div class="row">
            <div class="columns-12 form-block b-bottom">
              <label class="tag" for="firstName">First Name*</label>
              <div class="form-block__input">
                <input name="firstName" id="firstName" type="text" placeholder="Bob">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="columns-12 form-block b-bottom">
              <label class="tag" for="lastName">Last Name*</label>
              <div class="form-block__input">
                <input name="lastName" id="lastName" type="text" placeholder="Evans">
              </div>
            </div>
          </div>

          <div class="row b-bottom">
            <div class="form-block" id="shirtSize">
              <label class="tag" for="shirtSize">Shirt Size*</label>
              <div class="form-block__input">
                <div>
                  <input name="shirtSize" type="radio" id="small" value="small">
                  <label for="small">Small</label>
                </div>

                <div>
                  <input name="shirtSize" type="radio" id="medium" value="medium">
                  <label for="medium">Medium</label>
                </div>

                <div>
                  <input name="shirtSize" type="radio" id="large" value="large">
                  <label for="large">Large</label>
                </div>

                <div>
                  <input name="shirtSize" type="radio" id="x-large" value="x-large">
                  <label for="x-large">X-Large</label>
                </div>
              </div>
            </div>
          </div>

          <div class="form-block b-bottom">
            <label class="tag" for="email">Email*</label>
            <div class="form-block__input">
              <input name="email" id="email" type="email" placeholder="Email">
            </div>
          </div>

          <div class="row b-bottom">
            <div class="form-block columns-4-table b-bottom">
              <label class="tag" for="school">School*</label>

              <div class="form-block__input">
                <input class="input--school input--school-other hide" type="text" placeholder="Enter your school" />

                <div class="full-width-flex flex input--school">
                  <input class="input--school-typeahead" name="school" id="school" list="school-list" placeholder="Search your school" />
                  <datalist id="school-list"></datalist>
                  <div id="school-dropdown-btn" class="dropdown-btn">&#9660;</div>
                </div>

                <div class="form-block__input">
                  <input name="schoolOther" id="schoolOther" type="checkbox" class="button" data-toggle="true">
                  <label for="schoolOther"><small>I can't find my school</small></label>
                </div>
              </div>
            </div>

            <!-- <div class="form-block columns-4-table b-bottom">
              <label class="tag" for="major">Major*</label>
              <div class="form-block__input">
                <input name="major" id="major" type="text" placeholder="Computer Science">
              </div>
            </div> -->

            <div class="form-block columns-4-table b-bottom">
              <label class="tag" for="major">Major*</label>
              <div class="form-block__input">
                <select name="major" id="major">
                  <option value="" disabled selected>Major</option>
                    {% for row in site.data.majors %}
                      <option>
                          {% for cell in row %}
                            {{ cell[1] }}
                          {% endfor %}
                      </option>
                    {% endfor %}
                </select>
              </div>
            </div>

            <div class="form-block columns-4-table">
              <label class="tag" for="dob">Date of birth*</label>
              <div class="form-block__input">
                <input type="date" placeholder="mm/dd/yyyy" name="dob" id="dob">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="columns-12 form-block b-bottom">
              <label class="tag" for="phoneNumber">Phone Number*</label>
              <div class="form-block__input">
                <input name="phoneNumber" id="phoneNumber" type="text" placeholder="513-867-5309">
              </div>
            </div>
          </div>

<!-- New Allergy Section -->
          <div class="row">
            <div class="columns-12 form-block b-bottom">
              <label class="tag" for="dietaryRestrictions">Dietary Restrictions</label>
              <div class="form-block__input">
                <div>
                <input name="vegetarian" id="vegetarian" type="checkbox">
                <label for="vegetarian">Vegetarian</label>
                </div>

                <div>
                <input name="vegan" id="vegan" type="checkbox">
                <label for="vegan">Vegan</label>
                </div>

                <div>
                <input name="peanutAllergy" id="peanutAllergy" type="checkbox">
                <label for="peanutAllergy">Peanut&nbsp;Allergy</label>
                </div>

                <div>
                <input name="glutenFree" id="glutenFree" type="checkbox">
                <label for="glutenFree">Gluten&nbsp;Free</label>
                </div>
              </div>
            </div>
          </div>
<!-- New Allergy Section -->

          <div class="row b-bottom">
            <div class="form-block columns-6-table">
              <label class="tag">Other dietary restrictions</label>
              <div class="form-block__input">
                <textarea name="otherDietaryRestrictions" cols="30" rows="5" placeholder="List other dietary restrictions here"></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-block columns-12 b-bottom">
              <label class="tag">GitHub</label>
              <div class="form-block__input">
                <input name="githubUsername" type="text" placeholder="GitHub username">
              </div>
            </div>
          </div>

          <div class="row b-bottom">
            <div class="form-block columns-4-table b-bottom">
              <label class="tag" for="education">Education*</label>
              <div class="form-block__input">
                <select name="education" id="education">
                  <option value="" disabled selected>Level of Education</option>
                  <option value="high-school">High School</option>
                  <option value="undergraduate">Undergraduate</option>
                  <option value="graduate">Graduate</option>
                </select>
              </div>
            </div>

            <div class="form-block columns-4-table b-bottom">
              <label class="tag" for="graduation">Expected Graduation Year*</label>
              <div class="form-block__input">
                <select name="graduation" id="graduation">
                  <option value="" disabled selected>Expected Graduation Year</option>
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                  <option value="2022">2022</option>
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                </select>
              </div>
            </div>

            <div class="form-block columns-4-table b-bottom">
              <label for="gender" class="tag">Gender*</label>
              <div class="form-block__input">
                <select name="gender" id="gender">
                  <option value="" disabled selected>Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="non-binary">Non-binary</option>
                  <option value="transgender">Transgender</option>
                  <option value="intersex">Intersex</option>
                  <option value="gender-non-conforming">Gender Non-Conforming</option>
                  <option value="other">Other</option>
                  <option value="prefer-not-to-say">Prefer not to respond</option>
                </select>

              </div>
            </div>

            <div class="form-block columns-4-table">
              <label class="tag" for="resume">Resume</label>
              <div class="form-block__input">
                <input name="resume" id="resume" type="file">
              </div>
            </div>
          </div>

          <div class="row b-bottom">
            <div class="form-block columns-12">
              <label class="tag" for="ethnicity">Race/Ethnicity*</label>
              <div class="form-block__input">
                <select name="ethnicity" id="ethnicity">
                  <option value="" disabled selected>Race or Ethnicity</option>
                  <option value="indian">American Indian or Alaskan Native</option>
                  <option value="asian">Asian</option>
                  <option value="black">Black or African American</option>
                  <option value="islander">Native Hawaiian or other Pacific Islander</option>
                  <option value="white">White</option>
                  <option value="latino">Hispanic or Latino</option>
                  <option value="prefer-not">Prefer not to respond</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row b-bottom">
            <div class="form-block columns-6-table b-bottom">
              <label class="tag" for="hackathons">How many hackathons have you attended?</label>
              <div class="form-block__input">
                <input name="hackathons" id="hackathons" type="text" placeholder="So many...">
              </div>
            </div>

            <div class="form-block columns-6-table">
              <label class="tag" for="howYouHeard">How did you hear about RevUC?</label>
              <div class="form-block__input">
                <input name="howYouHeard" id="howYouHeard" type="text" placeholder="Twitter!">
              </div>
            </div>
          </div>

          <div class="row b-bottom">
            <div class="form-block columns-6-table b-bottom">
              <div class="form-block__input">
                <input name="dataSharing" type="checkbox" class="button" id="dataSharing">
                <label for="dataSharing">MLH Data Sharing<sup><a data-turbolinks="false" href="#agree-1">1</a></sup></label>
              </div>
              <label class="tag">I agree*</label>
            </div>

            <div class="form-block columns-6-table">
              <div class="form-block__input">
                <input name="codeOfConduct" type="checkbox" class="button" id="codeOfConduct">
                <label for="codeOfConduct">MLH Code of Conduct<sup><a data-turbolinks="false" href="#agree-2">2</a></sup></label>
              </div>
              <label class="tag">I agree*</label>
            </div>
          </div>

          <div class="row">
            <div class="form-block">
                <!-- <h4 style="margin-top: -10px">We have hit our projected capacity for RevolutionUC. 
                    As we confirm attendance, spots may open up, which we will give to waitlisted
                    participants in order of registration.</h4> -->
              <button name="registrationSubmit" type="submit" disabled class="button button--secondary">Register</button>
            </div>
          </div>
        </form>
        <section>
          <p>
            <small><sup id="agree-1">1</sup> I agree to the terms of both the <a href="https://github.com/MLH/mlh-policies/tree/master/prize-terms-and-conditions" target="_blank">MLH Contest Terms and Conditions</a> and the <a href="https://mlh.io/privacy" target="_blank">MLH Privacy Policy</a>. Please note that you may receive pre and post-event informational e-mails and occasional messages about hackathons from MLH as per the MLH Privacy Policy.</small>
            <br>
            <small><sup id="agree-2">2</sup> I agree to at all times abide by and conform to the <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">Major League Hacking Code of Conduct</a> at the event.</small>
          </p>
        </section>
      </div>

<script src=/js/register.js async defer></script>
<script>
  var typeahead_init = false;
  if (!typeahead_init) {
    let promise = fetch('https://raw.githubusercontent.com/MLH/mlh-policies/master/schools.csv');
    promise
      .then(response => response.text())
      .then(schools => {
      let arraySchools = schools.split("\n");
      arraySchools.shift();
      for (school of arraySchools) {
        let newOption = document.createElement('option');

        newOption.value = school;
        newOption.innerText = school;
        if (school == 'The University of Cincinnati') newOption.setAttribute('selected', '');
        document.querySelector('datalist#school-list').append(newOption);
      }
      var schoolComplete = new Awesomplete(document.getElementById("school"), {list: "#school-list", minChars: 0, maxItems: 1000000});
      Awesomplete.$('#school-dropdown-btn').addEventListener("click", function() {
        if (schoolComplete.ul.childNodes.length === 0) {
          schoolComplete.minChars = 0;
          schoolComplete.evaluate();
        }
        else if (schoolComplete.ul.hasAttribute('hidden')) {
          schoolComplete.open();
        }
        else {
          schoolComplete.close();
        }
      });
    });

    const schoolOtherButton = document.getElementById('schoolOther');
    const schoolOtherInput = document.getElementsByClassName('input--school-other')[0];
    const schoolTypeaheadInput = document.getElementsByClassName('input--school-typeahead')[0];

    schoolOtherButton.onclick = () => {
      // switches between 'input--school-typeahead' and 'input--school-other'
      // shows 'input--school-typeahead' by default
      const toggle = schoolOtherButton.getAttribute('data-toggle');

      if (toggle === 'true') {
        // rollback to the 'other' (traditional) input
        schoolOtherButton.setAttribute('data-toggle', 'false');
        schoolOtherInput.setAttribute('name', 'school');
        schoolOtherInput.setAttribute('id', 'school');
        schoolTypeaheadInput.removeAttribute('name');
        schoolTypeaheadInput.removeAttribute('id');

        // hide the typeahead input, show the 'other' input
        schoolOtherInput.classList.remove('hide');
        document.getElementsByClassName('input--school')[1].classList.add('hide');
      } else {
        // use the typeahead input
        schoolOtherButton.setAttribute('data-toggle', 'true');
        schoolTypeaheadInput.setAttribute('name', 'school');
        schoolTypeaheadInput.setAttribute('id', 'school');
        schoolOtherInput.removeAttribute('name');
        schoolOtherInput.removeAttribute('id');

        // hide the 'other' input, show the typeahead input
        document.getElementsByClassName('input--school')[1].classList.remove('hide');
        schoolOtherInput.classList.add('hide');
      }
    };
    typeahead_init = true;
  }
</script>
<script
src="https://code.jquery.com/jquery-3.3.1.js"
integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
crossorigin="anonymous"></script>