---
layout: default
title: Register
permalink: /register/
description: Registration for RevolutionUC — Hackathon at the University of Cincinnati from March 2-3, 2019
---
      <div class="container">
        <form name="registration">
          <div class="circle top left"></div>
          <div class="circle top right"></div>
          <div class="circle bottom left"></div>
          <div class="circle bottom right"></div>

          <div class=" form-block b-bottom">
            <label class="tag" for="firstName">First Name*</label>
            <div class="form-block__input">
              <input name="firstName" id="firstName" type="text" placeholder="Bob">
            </div>
          </div>

          <div class="form-block b-bottom">
            <label class="tag" for="lastName">Last Name*</label>
            <div class="form-block__input">
              <input name="lastName" id="lastName" type="text" placeholder="Evans">
            </div>
          </div>

          <div class="form-block b-bottom" id="shirtSize">
            <label class="tag" for="shirtSize">Shirt Size*</label>
            <div class="form-block__input">
              <div>
                <input name="shirtSize" type="radio" id="Small" value="Small">
                <label for="Small">Small</label>
              </div>

              <div>
                <input name="shirtSize" type="radio" id="Medium" value="Medium">
                <label for="Medium">Medium</label>
              </div>

              <div>
                <input name="shirtSize" type="radio" id="Large" value="Large">
                <label for="Large">Large</label>
              </div>

              <div>
                <input name="shirtSize" type="radio" id="X-Large" value="X-Large">
                <label for="X-Large">X-Large</label>
              </div>
            </div>
          </div>
          
          <div class="form-block b-bottom">
            <label class="tag" for="email">Email*</label>
            <div class="form-block__input">
              <input name="email" id="email" type="email" placeholder="Email">
            </div>
          </div>

          <div class="form-block b-bottom">
            <label class="tag" for="school">School*</label>

            <div class="form-block__input">
              <input class="input--school input--school-other hide" type="text" placeholder="Enter your school" />

              <div class="full-width-flex flex input--school">
                <input class="input--school-typeahead" name="school" id="school" list="school-list" placeholder="Search your school" />
                <datalist id="school-list"></datalist>
                <div id="school-dropdown-btn" class="dropdown-btn">&#9660;</div>
              </div>

              <div class="form-block__input">
                <input name="schoolOther" id="schoolOther" type="checkbox" class="button" data-toggle="true">
                <label for="schoolOther"><small>I can't find my school</small></label>
              </div>
            </div>
          </div>

          <div class="form-block b-bottom">
            <label class="tag" for="major">Major*</label>
            <div class="form-block__input">
              <select name="major" id="major">
                <option value="" disabled selected>Major</option>
                  {% for row in site.data.majors %}
                    <option>
                        {% for cell in row %}
                          {{ cell[1] }}
                        {% endfor %}
                    </option>
                  {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-block b-bottom">
            <label class="tag" for="dob">Date of birth*</label>
            <div class="form-block__input">
              <input type="date" placeholder="mm/dd/yyyy" name="dob" id="dob">
            </div>
          </div>

          <div class="form-block b-bottom">
            <label class="tag" for="phoneNumber">Phone Number*</label>
            <div class="form-block__input">
              <input name="phoneNumber" id="phoneNumber" type="text" placeholder="513-867-5309">
            </div>
          </div>

          <div class="form-block b-bottom">
            <label class="tag" for="dietaryRestrictions">Dietary Restrictions</label>
            <div class="form-block__input">
              <div>
              <input name="vegetarian" id="vegetarian" type="checkbox">
              <label for="vegetarian">Vegetarian</label>
              </div>

              <div>
              <input name="vegan" id="vegan" type="checkbox">
              <label for="vegan">Vegan</label>
              </div>

              <div>
              <input name="peanutAllergy" id="peanutAllergy" type="checkbox">
              <label for="peanutAllergy">Peanut&nbsp;Allergy</label>
              </div>

              <div>
              <input name="glutenFree" id="glutenFree" type="checkbox">
              <label for="glutenFree">Gluten&nbsp;Free</label>
              </div>
            </div>
          </div>

          <div class="form-block b-bottom">
            <label class="tag">Other dietary restrictions</label>
            <div class="form-block__input">
              <textarea name="otherDietaryRestrictions" cols="30" rows="5" placeholder="List other dietary restrictions here"></textarea>
            </div>
          </div>

          <div class="form-block b-bottom">
            <label class="tag">GitHub</label>
            <div class="form-block__input">
              <input name="githubUsername" type="text" placeholder="GitHub username">
            </div>
          </div>

          <div class="form-block b-bottom">
            <label class="tag" for="education">Education*</label>
            <div class="form-block__input">
              <select name="education" id="education">
                <option value="" disabled selected>Level of Education</option>
                <option value="HighSchool">High School (16+)</option>
                <option value="Undergraduate">Undergraduate</option>
                <option value="Graduate">Graduate</option>
              </select>
            </div>
          </div>

          <div class="form-block b-bottom">
            <label for="gender" class="tag">Gender*</label>
            <div class="form-block__input">
              <select name="gender" id="gender">
                <option value="" disabled selected>Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="NonBinary">Non-binary / Third Gender</option>
                <option value="Other">Other</option>
                <option value="PreferNot">Prefer not to say</option>
              </select>
            </div>
          </div>

          <div class="form-block b-bottom">
            <label class="tag" for="resume">Resume</label>
            <div class="form-block__input">
              <input name="resume" id="resume" type="file">
            </div>
          </div>

          <div class="form-block b-bottom">
            <label class="tag" for="ethnicity">Race/Ethnicity*</label>
            <div class="form-block__input">
              <select name="ethnicity" id="ethnicity">
                <option value="" disabled selected>Race or Ethnicity</option>
                <option value="Indian">American Indian or Alaskan Native</option>
                <option value="Asian">Asian</option>
                <option value="Black">Black or African American</option>
                <option value="Islander">Native Hawaiian or other Pacific Islander</option>
                <option value="White">White</option>
                <option value="Latino">Hispanic or Latino</option>
                <option value="Prefer Not">Prefer not to respond</option>
              </select>
            </div>
          </div>

          <div class="form-block b-bottom">
            <label class="tag" for="hackathons">How many hackathons have you attended?</label>
            <div class="form-block__input">
              <select name="hackathons" id="hackathons">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
              </select>
            </div>
          </div>

          <div class="form-block b-bottom">
            <label class="tag" for="howYouHeard">How did you hear about RevUC?</label>
            <div class="form-block__input">
              <input name="howYouHeard" id="howYouHeard" type="text" placeholder="Twitter!">
            </div>
          </div>

          <div class="form-block b-bottom">
            <div class="form-block__input">
              <input name="dataSharing" type="checkbox" class="button" id="dataSharing">
              <label for="dataSharing">MLH Data Sharing<sup><a data-turbolinks="false" href="#agree-1">1</a></sup></label>
            </div>
            <label class="tag">I agree*</label>
          </div>

          <div class="form-block b-bottom">
            <div class="form-block__input">
              <input name="codeOfConduct" type="checkbox" class="button" id="codeOfConduct">
              <label for="codeOfConduct">MLH Code of Conduct<sup><a data-turbolinks="false" href="#agree-2">2</a></sup></label>
            </div>
            <label class="tag">I agree*</label>
          </div>

          <div class="form-block">
              <!-- <h4 style="margin-top: -10px">We have hit our projected capacity for RevolutionUC. 
                  As we confirm attendance, spots may open up, which we will give to waitlisted
                  participants in order of registration.</h4> -->
            <button name="registrationSubmit" type="submit" disabled class="btn btn--register">Register</button>
          </div>
        </form>

        <section>
          <p>
            <small><sup id="agree-1">1</sup> I agree to the terms of both the <a href="https://github.com/MLH/mlh-policies/tree/master/prize-terms-and-conditions" target="_blank">MLH Contest Terms and Conditions</a> and the <a href="https://mlh.io/privacy" target="_blank">MLH Privacy Policy</a>. Please note that you may receive pre and post-event informational e-mails and occasional messages about hackathons from MLH as per the MLH Privacy Policy.</small>
            <br>
            <small><sup id="agree-2">2</sup> I agree to at all times abide by and conform to the <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">Major League Hacking Code of Conduct</a> at the event.</small>
          </p>
        </section>
      </div>

<script src=/js/register.js async defer></script>
<script>
  var typeahead_init = false;
  if (!typeahead_init) {
    let promise = fetch('https://raw.githubusercontent.com/MLH/mlh-policies/master/schools.csv');
    promise
      .then(response => response.text())
      .then(schools => {
      let arraySchools = schools.split("\n");
      arraySchools.shift();
      for (school of arraySchools) {
        let newOption = document.createElement('option');

        newOption.value = school;
        newOption.innerText = school;
        if (school == 'The University of Cincinnati') newOption.setAttribute('selected', '');
        document.querySelector('datalist#school-list').append(newOption);
      }
      var schoolComplete = new Awesomplete(document.getElementById("school"), {list: "#school-list", minChars: 0, maxItems: 1000000});
      Awesomplete.$('#school-dropdown-btn').addEventListener("click", function() {
        if (schoolComplete.ul.childNodes.length === 0) {
          schoolComplete.minChars = 0;
          schoolComplete.evaluate();
        }
        else if (schoolComplete.ul.hasAttribute('hidden')) {
          schoolComplete.open();
        }
        else {
          schoolComplete.close();
        }
      });
    });

    const schoolOtherButton = document.getElementById('schoolOther');
    const schoolOtherInput = document.getElementsByClassName('input--school-other')[0];
    const schoolTypeaheadInput = document.getElementsByClassName('input--school-typeahead')[0];

    schoolOtherButton.onclick = () => {
      // switches between 'input--school-typeahead' and 'input--school-other'
      // shows 'input--school-typeahead' by default
      const toggle = schoolOtherButton.getAttribute('data-toggle');

      if (toggle === 'true') {
        // rollback to the 'other' (traditional) input
        schoolOtherButton.setAttribute('data-toggle', 'false');
        schoolOtherInput.setAttribute('name', 'school');
        schoolOtherInput.setAttribute('id', 'school');
        schoolTypeaheadInput.removeAttribute('name');
        schoolTypeaheadInput.removeAttribute('id');

        // hide the typeahead input, show the 'other' input
        schoolOtherInput.classList.remove('hide');
        document.getElementsByClassName('input--school')[1].classList.add('hide');
      } else {
        // use the typeahead input
        schoolOtherButton.setAttribute('data-toggle', 'true');
        schoolTypeaheadInput.setAttribute('name', 'school');
        schoolTypeaheadInput.setAttribute('id', 'school');
        schoolOtherInput.removeAttribute('name');
        schoolOtherInput.removeAttribute('id');

        // hide the 'other' input, show the typeahead input
        document.getElementsByClassName('input--school')[1].classList.remove('hide');
        schoolOtherInput.classList.add('hide');
      }
    };
    typeahead_init = true;
  }
</script>
<script
src="https://code.jquery.com/jquery-3.3.1.js"
integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
crossorigin="anonymous"></script>
