---
layout: default
title: Schedule
permalink: /schedule/
image: "/img/placeholder.png"
useContainer: false
description: Event Schedule for RevolutionUC — Hackathon at the University of Cincinnati from March 2-3, 2019
---

<div class="container">
    <div class="schedule">
        {% for item in site.data.schedule %}
        <div class="schedule-item flex">
            {% if item.date %}
            <div class="schedule-date">
                <strong>{{item.date}}</strong>
            </div>
            {% else %}
            <div class="schedule-time">
                {{item.time}}
            </div>
            <div class="schedule-event">
                {{item.event}}
            </div>
            <div class="schedule-location">
                {{item.location}}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>


