<!doctype html>
<html lang="en-US">
    <head>
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="pragma" content="no-cache" />

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% if page.redirect %}
            <meta http-equiv="refresh" content="0; url={{ page.redirect }}" />
        {% endif %}

        {% assign current = page.url | downcase | split: '/' %}

        {% if page.title %}
            <title>{{ page.title }} | {{ site.title }}</title>
        {% else %}
            <title>{{ site.title }}</title>
        {% endif %}

        {% if page.description %}
            <meta name="description" content="{{ page.description }}">
        {% elsif current == empty %}
            <meta name="description" content="{{ site.description }}">
        {% endif %}

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Twitter Meta -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:creator" content="@Revolution_UC">
        <meta name="twitter:title" content="RevolutionUC Hackathon">
        <meta name="twitter:description" content="Midwest Student Hackathon held at the University of Cincinnati. March 2nd and 3rd, 2019.">
        <meta name="twitter:image" content="https://revolutionuc.com/img/social-card.png">
        <meta name="twitter:image:alt" content="RevolutionUC Hex Logo">

        <!-- Facebook Meta -->
        <meta property="og:title" content="RevolutionUC">
        <meta property="og:description" content="Midwest Student Hackathon held at the University of Cincinnati. March 2nd and 3rd, 2019.">
        <meta property="og:image" content="https://revolutionuc.com/img/social-card.png">
        <meta property="og:url" content="https://revolutionuc.com">

        <meta name="theme-color" content="#761E3D">

        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
        <link rel="shortcut icon" href="/img/favicon/favicon.ico">

        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Josefin+Sans|Lato:400,700">
        <link rel="stylesheet" href="/css/main.min.css?{{ site.time | date: '%s%N' }}">

        <link rel="manifest" href="/manifest.webmanifest">

        {% if page.url == "/register/" %}
        <script id="awesomplete-src" src="/js/vendor/awesomplete.min.js"></script>
        {% endif %}
    </head>
    <body class="page page--{{ current[1] }}">
        <!-- <header class="header {% if current == empty %}header--no-bg{% endif %}"> -->
            <header class="header">
            <div class="header__container container">
                <h1 class="header__title">
                    <a href="/">
                        <!-- <img class="header__logo" src="https://d1scc4yo7jg7j0.cloudfront.net/logos/2017-logo.png" srcset="https://d1scc4yo7jg7j0.cloudfront.net/logos/2017-logo.png 1x, https://d1scc4yo7jg7j0.cloudfront.net/logos/2017-logo@2x.png 2x" alt="RevolutionUC logo"> -->
                        <img class="header__logo" src="/img/revuc-logos/revuc-spring-z-clean.webp" srcset="/img/revuc-logos/revuc-spring-z-clean.webp 1x, /img/revuc-logos/revuc-spring-z-clean.webp 2x" src="" srcset="" onerror="this.onerror=null; this.src='/img/revuc-logos/revuc-spring-z-clean.png'; this.srcset='/img/revuc-logos/revuc-spring-z-clean.png 1x, /img/revuc-logos/revuc-spring-z-clean.png 2x'" alt="RevolutionUC logo">
                    </a>
                </h1>
                <input id="menu-toggle" type="checkbox" class="menu-toggle">
                <label for="menu-toggle">
                    {% include hamburger.svg %}
                </label>

                <nav class="navbar">
                    <ul>
                        <li><a {% if current == empty %} class="navbar__active" {% endif %} href="/">Home</a></li>
                        <li><a {% if current[1] == 'schedule' %} class="navbar__active" {% endif %} href="/schedule">Schedule</a></li>
                        <li><a {% if current[1] == 'hack-ideas' %} class="navbar__active" {% endif %} href="/hack-ideas">Hack Ideas</a></li>
                        <li><a {% if current[1] == 'prizing' %} class="navbar__active" {% endif %} href="/prizing">Prizing</a></li>
                        <li><a {% if current[1] == 'sponsors' %} class="navbar__active" {% endif %} href="/sponsors">Sponsors</a></li>
                        <li><a {% if current[1] == 'about' %} class="navbar__active" {% endif %} href="/about">About</a></li>
                        <li><a {% if current[1] == 'faq' %} class="navbar__active" {% endif %} href="/faq">FAQ</a></li>
                    </ul>
                </nav>
                <!-- <a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000" href="https://mlh.io/seasons/na-2019/events?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2019-season&utm_content=white" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2019/mlh-trust-badge-2019-white.svg" alt="Major League Hacking 2019 Hackathon Season" style="width:100%"></a> -->
                <a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000" href="https://mlh.io/seasons/na-2020/events?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2020-season&utm_content=white" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2020/mlh-trust-badge-2020-white.svg" alt="Major League Hacking 2020 Hackathon Season" style="width:100%"></a>
            </div>
        </header>
