.container {
    width: 100%;
    max-width: $container-width;
    padding: 0 $padding;
    margin: 0 auto;

    // serves as a smaller container for some use cases (such as .hero)
    &.container--small {
        max-width: $container-width-small;
    }

    &.container--fluid {
        max-width: 100%;
    }
}
