.container {
    width: 70%;
    max-width: $container-width;
    padding: 0 $padding;
    margin: 0 auto;

    // serves as a larger container
    &.container--large {
        max-width: $container-width-large;
    }

    // serves as a smaller container for some use cases (such as .hero)
    &.container--small {
        max-width: $container-width-small;
    }

    &.container--fluid {
        max-width: 100%;
    }
}

@media (max-width: $x-small-breakpoint) {
    .main .container, .main.container {
        padding-left: 5px;
        padding-right: 5px;
    }
}
