.row {
    @include grid-container;
  
    &.row--collapse {
        @include grid-collapse;
    }

    .columns-6 {
        @include grid-column(6);
    }
    .columns-5 {
        @include grid-column(5);
    }
    .columns-4 {
        @include grid-column(4);
    }
    .columns-3 {
        @include grid-column(3);
    }
    .columns-2 {
        @include grid-column(2);
    }
    .columns-1 {
        @include grid-column(1);
    }

    .columns-6,
    .columns-5,
    .columns-4,
    .columns-3, {
    @media (max-width: $small-breakpoint) {
        @include grid-column(12);
            width: 100% !important; // fixes a bug with last columns not being 100%
            float: none;
        }
    }
}
