.row {
    @include row();
  
    .columns-6 {
        @include span-columns(6);
    }

    .columns-5 {
        @include span-columns(5);
    }
    .columns-4 {
      @include span-columns(4);
    }
  
    .columns-3 {
      @include span-columns(3);
    }
    .columns-2 {
      @include span-columns(2);
    }
    .columns-1 {
      @include span-columns(1);
    }
  
    .columns-6-table {
      @include span-columns(6, block-collapse);
      width: 50% !important;
    }
  
    .columns-4-table {
      @include span-columns(4, block-collapse);
      width: percentage(1/3) !important;
    }
  
    .columns-3-table {
      @include span-columns(4, block-collapse);
      width: percentage(1/4) !important;
    }
  
    .columns-6,
    .columns-5,
    .columns-4,
    .columns-6-table,
    .columns-4-table,
    .columns-3,
    .columns-3-table {
      @media (max-width: $mobile-breakpoint) {
        @include span-columns(12);
        width: 100% !important; // fixes a bug with last columns not being 100%
        float: none;
      }
    }
}
