.row {
    width: 100%;
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;

    .columns-6 {
        grid-column: span 6;
    }
    .columns-5 {
        grid-column: span 5;
    }
    .columns-4 {
        grid-column: span 4;
    }
    .columns-3 {
        grid-column: span 3;
    }
    .columns-2 {
        grid-column: span 2;
    }
    .columns-1 {
        grid-column: span 1;
    }

    .columns-6,
    .columns-5,
    .columns-4,
    .columns-3 {
        @media (max-width: $small-breakpoint) {
            grid-column: span 12;
            width: 100% !important; // fixes a bug with last columns not being 100%
            float: none;
            margin-left: 0;
        }
    }
}
