.page--about {
    .buildlearngrow {
        max-width: 1200px;

        .buildlearngrow__item {
            min-height: 500px;
            background-size: cover;
            background-position: center center;
            position: relative;
            background-color: $grey;

            .item__text {
                padding-top: 16px;
                padding-bottom: 16px;
                background-color: $white;
                position: absolute;
                bottom: 0;
                width: 100%;

                h2, p {
                    margin: 0;
                    color: $white;
                }
            }

            @media (min-width: $small-breakpoint) and (max-width: $container-width-large) {
                grid-column: span 12;
                margin: 0;
                width: 100%;
            }

            &:nth-child(1) {
                background-image: url(/img/placeholder.png);

                .item__text {
                    background-color: $grey;
                }
            }

            &:nth-child(2) {
                background-image: url(/img/placeholder.png);

                .item__text {
                    background-color: $grey;
                }
            }

            &:nth-child(3) {
                background-image: url(/img/placeholder.png);

                .item__text {
                    background-color: $grey ;
                }
            }
        }
    }
}
