.page--about {
    .buildlearngrow {
        max-width: 1200px;

        .buildlearngrow__item {
            min-height: 500px;
            background-size: cover;
            background-position: center center;
            position: relative;
            background-color: $grey;

            .item__text {
                padding-top: 16px;
                padding-bottom: 16px;
                background-color: $white;
                position: absolute;
                bottom: 0;
                width: 100%;

                h2, p {
                    margin: 0;
                    color: $black;
                }
            }

            @media (min-width: $small-breakpoint) and (max-width: $container-width-large) {
                grid-column: span 12;
                margin: 0;
                width: 100%;
            }

            &:nth-child(1) {
                background-image: url(https://assets.revolutionuc.com/website-images/2021/photos/1x/build.jpg);
                background-image: 
                    -webkit-image-set(
                        url(https://assets.revolutionuc.com/website-images/2021/photos/1x/build.jpg) 1x,
                        url(https://assets.revolutionuc.com/website-images/2021/photos/2x/build.jpg) 2x,
                        url(https://assets.revolutionuc.com/website-images/2021/photos/3x/build.jpg) 3x,
                        url(https://assets.revolutionuc.com/website-images/2021/photos/4x/build.jpg) 4x
                    );
                background-image: 
                    image-set(
                        url(https://assets.revolutionuc.com/website-images/2021/photos/1x/build.jpg) 1x,
                        url(https://assets.revolutionuc.com/website-images/2021/photos/2x/build.jpg) 2x,
                        url(https://assets.revolutionuc.com/website-images/2021/photos/3x/build.jpg) 3x,
                        url(https://assets.revolutionuc.com/website-images/2021/photos/4x/build.jpg) 4x
                    );

                .item__text {
                    background-color: $prim-color-2;
                }
            }

            &:nth-child(2) {
                background-image: url(https://assets.revolutionuc.com/website-images/2021/photos/1x/learn.jpg);
                background-image: 
                    -webkit-image-set(
                        url(https://assets.revolutionuc.com/website-images/2021/photos/1x/learn.jpg) 1x,
                        url(https://assets.revolutionuc.com/website-images/2021/photos/2x/learn.jpg) 2x,
                        url(https://assets.revolutionuc.com/website-images/2021/photos/3x/learn.jpg) 3x,
                        url(https://assets.revolutionuc.com/website-images/2021/photos/4x/learn.jpg) 4x
                    );
                background-image: 
                    image-set(
                        url(https://assets.revolutionuc.com/website-images/2021/photos/1x/learn.jpg) 1x,
                        url(https://assets.revolutionuc.com/website-images/2021/photos/2x/learn.jpg) 2x,
                        url(https://assets.revolutionuc.com/website-images/2021/photos/3x/learn.jpg) 3x,
                        url(https://assets.revolutionuc.com/website-images/2021/photos/4x/learn.jpg) 4x
                    );

                .item__text {
                    background-color: $prim-color-3;
                }
            }

            &:nth-child(3) {
                background-image: url(https://assets.revolutionuc.com/website-images/2021/photos/1x/grow.jpg);
                background-image: 
                    -webkit-image-set(
                        url(https://assets.revolutionuc.com/website-images/2021/photos/1x/grow.jpg) 1x,
                        url(https://assets.revolutionuc.com/website-images/2021/photos/2x/grow.jpg) 2x,
                        url(https://assets.revolutionuc.com/website-images/2021/photos/3x/grow.jpg) 3x,
                        url(https://assets.revolutionuc.com/website-images/2021/photos/4x/grow.jpg) 4x
                    );
                background-image: 
                    image-set(
                        url(https://assets.revolutionuc.com/website-images/2021/photos/1x/grow.jpg) 1x,
                        url(https://assets.revolutionuc.com/website-images/2021/photos/2x/grow.jpg) 2x,
                        url(https://assets.revolutionuc.com/website-images/2021/photos/3x/grow.jpg) 3x,
                        url(https://assets.revolutionuc.com/website-images/2021/photos/4x/grow.jpg) 4x
                    );

                .item__text {
                    background-color: $prim-color-4;
                }
            }
        }
    }

    .about-img {
        width: 100%
    }
}
