.page--about {
    .buildlearngrow {
        max-width: 1200px;

        .buildlearngrow__item {
            min-height: 500px;
            background-size: cover;
            background-position: center center;
            position: relative;
            background-color: $black;

            .item__text {
                padding-top: 16px;
                padding-bottom: 16px;
                background-color: $prim-color-3;
                position: absolute;
                bottom: 0;
                width: 100%;

                h2, p {
                    margin: 0;
                    color: $white;
                }
            }

            @media (min-width: $small-breakpoint) and (max-width: $container-width-large) {
                grid-column: span 12;
                margin: 0;
                width: 100%;
            }

            &:nth-child(1) {
                background-image: url(/img/about-build.jpg);

                .item__text {
                    background-color: $prim-color-4;
                }
            }

            &:nth-child(2) {
                background-image: url(/img/about-learn.jpg);

                .item__text {
                    background-color: $prim-color-3;
                }
            }

            &:nth-child(3) {
                background-image: url(/img/about-grow.jpg);

                .item__text {
                    background-color: $prim-color-2;
                }
            }
        }
    }
}
