.container--hack-ideas {
  max-width: 80vw;
  @media (max-width: $medium-breakpoint) {
    max-width: 100vw;
  }
}

.hack-idea-title {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 0;
}

.hack-ideas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 20px;

  .topic {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $black;

    .hack__ideas__image {
      position: relative;
      width: 50%;

      filter: brightness(1);
      -webkit-transition: filter 300ms ease;
      -ms-transition: filter 300ms ease;
      transition: filter 300ms ease;

      a {
        text-decoration: none;
      }
    }
  }
}

.hack__ideas__modal-image {
    /* for the img inside your div */
    display: block;
    margin: 0 auto;
    position: relative;
    padding-top: 12px;
    max-height: 400px;
    width: 20%;
    @media (max-width: $medium-breakpoint) {
        width: 100%;
    }

    filter: brightness(1);
    -webkit-transition: filter 300ms ease;
    -ms-transition: filter 300ms ease;
    transition: filter 300ms ease;

    a {
      text-decoration: none;
    }
}

.hack__ideas__modal-text {
  margin: 0 2rem;
}