.live-row {
    width: 100%;
    margin: 20 auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    // grid-template: auto auto auto;
  
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;

    .columns-12 {
        grid-column: span 12;
    }
    .columns-11 {
        grid-column: span 11;
    }
    .columns-10 {
        grid-column: span 10;
    }
    .columns-9 {
        grid-column: span 9;
    }
    .columns-8 {
        grid-column: span 8;
    }
    .columns-7 {
        grid-column: span 7;
    }
    .columns-6 {
        grid-column: span 6;
    }
    .columns-5 {
        grid-column: span 5;
    }
    .columns-4 {
        grid-column: span 4;
    }
    .columns-3 {
        grid-column: span 3;
    }
    .columns-2 {
        grid-column: span 2;
    }
    .columns-1 {
        grid-column: span 1;
    }

    .columns-6,
    .columns-5,
    .columns-4,
    .columns-3 {
        @media (max-width: $small-breakpoint) {
            grid-column: span 12;
            width: 100% !important; // fixes a bug with last columns not being 100%
            float: none;
            margin-left: 0;
        }
    }

    .live-section {
        // width: 100% !important;
        // background-color: #444;
        // color: #fff;
        border-radius: 5px;
        // padding: 20px;
        // margin: 20px;
        // font-size: 150%;
    
        &.live-section--twitter {
            @media (max-width: $medium-breakpoint) {
                display: none;
            }
        }
    
        @media (max-width: $medium-breakpoint) {
            grid-column: span 12;
            width: 100% !important; // fixes a bug with last columns not being 100%
            float: none;
            margin-left: 0;
            margin-bottom: 20px;
        }
    }
}

.live-table {
    font-size: 2vmin;
    width: 100%;
}

.live-section--judging {
    // margin: 20px;

    @media (max-width: $medium-breakpoint) {
        grid-column: span 12;
        width: 100% !important; // fixes a bug with last columns not being 100%
        float: none;
        margin-left: 0;
    }
}
