.live-row {
    width: 100%;
    padding-bottom: 16px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 16px;

    .columns-12 {
        grid-column: span 12;
    }
    .columns-11 {
        grid-column: span 11;
    }
    .columns-10 {
        grid-column: span 10;
    }
    .columns-9 {
        grid-column: span 9;
    }
    .columns-8 {
        grid-column: span 8;
    }
    .columns-7 {
        grid-column: span 7;
    }
    .columns-6 {
        grid-column: span 6;
    }
    .columns-5 {
        grid-column: span 5;
    }
    .columns-4 {
        grid-column: span 4;
    }
    .columns-3 {
        grid-column: span 3;
    }
    .columns-2 {
        grid-column: span 2;
    }
    .columns-1 {
        grid-column: span 1;
    }

    .columns-6,
    .columns-5,
    .columns-4,
    .columns-3 {
        @media (max-width: $small-breakpoint) {
            grid-column: span 12;
            width: 100% !important; // fixes a bug with last columns not being 100%
            float: none;
            margin-left: 0;
        }
    }

    .live-section {
        border-radius: 5px;
        max-height: 1100px;
        overflow-y: auto;

        &.live-section--twitter {
            @media (max-width: $medium-breakpoint) {
                display: none;
            }
        }

        @media (max-width: $medium-breakpoint) {
            grid-column: span 12;
            width: 100% !important; // fixes a bug with last columns not being 100%
            float: none;
            margin-left: 0;
            margin-bottom: 20px;
        }
    }
}

.live-table {
    font-size: 2vmin;
    width: 100%;
}

.live--container {
    width: 100%;
    margin: 0 auto;
}

.live-section--judging {
    @media (max-width: $medium-breakpoint) {
        grid-column: span 12;
        width: 100% !important; // fixes a bug with last columns not being 100%
        float: none;
        margin-left: 0;
    }
}

.live--card-header {
    margin-top: 1rem;
    margin-bottom: 0.5rem;

    &.header-top {
        margin-top: 0;
    }
}

.live--side-bar-content {
    display: flex;
    justify-content: center;
}

.live--card-p {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.live--link-table {
    border-collapse: collapse;
    th,
    tr,
    td {
        border: none;
    }
    th {
        background: inherit;
        color: black;
    }
    .live--link-icon {
        padding: 0;
        width: 30px;
    }

    .live--link-content {
        width: 250px;
        padding-right: 0;
        font-size: 0.9rem;
    }
}

// .live--link-list {
//     list-style: none;
//     padding-left: 0%;
//     margin-top: 0%;
//     margin-bottom: 0%;

//     &.maps {
//         text-align: center;
//     }
// }
