.resources-row {
    width: 100%;
    padding-bottom: 16px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 25px;

    .columns-12 {
        grid-column: span 12;
    }
    .columns-11 {
        grid-column: span 11;
    }
    .columns-10 {
        grid-column: span 10;
    }
    .columns-9 {
        grid-column: span 9;
    }
    .columns-8 {
        grid-column: span 8;
    }
    .columns-7 {
        grid-column: span 7;
    }
    .columns-6 {
        grid-column: span 6;
    }
    .columns-5 {
        grid-column: span 5;
    }
    .columns-4 {
        grid-column: span 4;
    }
    .columns-3 {
        grid-column: span 3;
    }
    .columns-2 {
        grid-column: span 2;
    }
    .columns-1 {
        grid-column: span 1;
    }

    .columns-6,
    .columns-5,
    .columns-4,
    .columns-3 {
        @media (max-width: $small-breakpoint) {
            grid-column: span 12;
            width: 100% !important; // fixes a bug with last columns not being 100%
            float: none;
            margin-left: 0;
        }
    }

    .resources-section {
        border-radius: 5px;

        @media (max-width: $medium-breakpoint) {
            grid-column: span 12;
            width: 100% !important; // fixes a bug with last columns not being 100%
            float: none;
            margin-left: 0;
            margin-bottom: 20px;
        }
    }
}

.resources-table {
    font-size: 2vmin;
    width: 100%;
}

.resources--container {
    width: 100%;
    margin: 0 auto;
}

.resources--card-header {
    margin-top: 1rem;
    margin-bottom: 0.5rem;

    &.header-top {
        margin-top: 0;
    }
}

.container--links {
  max-width: 1000px;
}

.resources-section {
  details {
    margin-top: 15px;
  }

  h3 {
    margin-bottom: 5px;
  }

  ul {
    list-style-type: disc;
    margin-top: 0;
    margin-bottom: 0;

    li {
      margin-top: 5px;
    }
  }

  dd {
    display: list-item;
    list-style-type: disc;
  }

  .accordion__content {
    padding-left: 10px;
    padding-right: 10px;
  }
}