.flex {
  .sponsor-image {
    display: flex;
    padding: 20px 20px;
    flex: 0 0 50%;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;

    img {
      display: block;
      height: 9vw;
      min-height: 50px;
      max-height: 80px;
    }
  }
}

@media (max-width: $small-breakpoint) {
  .flex .sponsor-image {
    flex: 0 0 100%;
  }
}
