.page--sponsors {
  .main {
    background-color: $white;
  }
}

.flex {
  .sponsor-image {
    display: flex;
    padding: 20px 20px;
    flex: 0 0 50%;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-content: middle;

    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      height: 100%;
      min-height: 50px;
      max-height: 80px;
      border-radius: 0;

      &.sponsor-image--jpmorgan-chase-co {
        height: initial;
        min-height: initial;
      }

      &.sponsor-image--ge-aviation {
        max-height: 120px;
      }
      &.sponsor-image--tata-consultancy-services {
          max-height: 120px;
      }
      &.sponsor-image--scripps {
          max-height: 150px;
      }
    }
  }
}

@media (max-width: $small-breakpoint) {
  .flex .sponsor-image {
    flex: 0 0 100%;
  }
}
