.page--sponsors {
  .main {
    background-color: $white;
  }
}

.flex {
  .sponsor-image {
    display: flex;
    padding: 20px 20px;
    flex: 0 0 50%;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;

    img {
      display: block;
      height: 9vw;
      min-height: 50px;
      max-height: 80px;
      border-radius: 0;

      &.sponsor-image--jpmorgan-chase-co {
        height: initial;
        min-height: initial;
      }
    }
  }
}

@media (max-width: $small-breakpoint) {
  .flex .sponsor-image {
    flex: 0 0 100%;
  }
}
