.btn {
    display: inline-block;
    margin: 0;
    padding: 16px 20px;
    background-color: $grey;
    color: $white;
    text-decoration: none;
    font-size: $btn-font-size;
    margin-bottom: 1rem;

    &.btn--primary {
        background-color: $grey;

        &:hover {
            background-color: darken($grey, 10%);
        }
    }

    &.btn--secondary {
        background-color: $grey;
        color: $white;

        &:hover {
            background-color: darken($grey, 10%);
        }
    }

    &.btn--tertiary {
        background-color: $grey;
        color: $white;

        &:hover {
            background-color: darken($grey, 10%);
        }
    }

    &.btn--register {
        background-color: $grey;
        color: $white;
        -webkit-appearance: none;
        border: 0;
        box-shadow: none;
        border-radius: 5px;

        &:hover {
            background-color: darken($grey, 10%);
        }
        
        &:disabled {
            background-color: lightgray;
            color: gray;
        }
    }

    &.btn--upload-resume {
        background-color: $grey;
        color: $white;
        -webkit-appearance: none;
        border: 0;
        box-shadow: none;
        border-radius: 0px;
        padding: 5px 5px;

        &:hover {
            background-color: darken($grey, 10%);
        }
    }
}
