.btn {
    display: inline-block;
    margin: 0;
    padding: 16px 20px;
    background-color: $prim-color-5;
    color: $white;
    text-decoration: none;
    font-size: $btn-font-size;
    margin-bottom: 1rem;

    &.btn--primary {
        background-color: $prim-color-5;

        &:hover {
            background-color: darken($prim-color-5, 10%);
        }
    }

    &.btn--secondary {
        background-color: $prim-color-1;
        color: $prim-color-3;

        &:hover {
            background-color: darken($prim-color-1, 10%);
        }
    }

    &.btn--tertiary {
        background-color: $prim-color-3;
        color: $white;

        &:hover {
            background-color: darken($prim-color-3, 10%);
        }
    }
}
