.barBackground {
    width: 100% !important;
    height: 40px;
    background-color: $grey;
    margin-bottom: 1rem;

    &.barBackground--home {
        @media (max-width: $small-breakpoint) {
            display: none;
            // margin-bottom: 0rem;
        }
    }
}
.barForeground { // this bar shrinks to show the progress behing made
    height: 40px;
    width: 99%; //99%;
    background-color: $white;
    float: right;

    &.barForeground--home {
        @media (max-width: $small-breakpoint) {
            display: none;
        }
    }
}

.countdownText {

    &.countdownText--home {
        float: left;
        padding-left: 10px;
        padding-top: 5px;
        @media (max-width: $small-breakpoint) {
            display: none;
        }
    }

    &.countdownText--live {
        float: none;
        text-align: center;
    }
}
