table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 4px 16px;
}

th {
  background-color: $grey;
  color: white;
  cursor: pointer;
}

a.paginate_button {
  padding: 0 2px;
  color: $grey;
  text-decoration: underline;
}
