.footer {
    // background-color: $purple-light;
    padding-top: 30px;
    padding-bottom: 30px;

    p {
        margin: 0;
        font-size: 14px;
        // color: $white;

        a {
            color: inherit;
        }
    }
}