.footer {
    background-color: $prim-color-2;
    padding-top: 30px;
    padding-bottom: 30px;

    p {
        margin: 0;
        font-size: 14px;
        text-align: center;
        color: $prim-color-3;

        a {
            color: inherit;
        }
    }

    .social-icons {
        text-align: center;
        list-style-type: none;
        padding: 0;
        margin-top: $padding;
        margin-bottom: $padding;

        li {
            padding-left: 30px;
            display: inline;

            &:first-child {
                padding-left: 0;
            }

            a {
                text-decoration: none;
            }

            svg {
                max-width: 40px;
                fill: $prim-color-3;
            }
        }
    }
}