.header {
    width: 100%;
    line-height: 1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: transparent;
    // background-color: rgba($color: $purple, $alpha: 0.05);
    padding: 0;
    margin: 0;

    .header__container {
        margin: 0 auto;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .header__title {
        display: inline-block;
        margin: 0;
        line-height: 0;
    }

    .header__logo {
        max-width: 100px;
    }

    .navbar {
        display: inline-block;
        float: right;
        margin-top: 42px;

        ul {
            // display: inline-block;
            list-style-type: none;
            margin: 0;
            padding: 0;
    
            li {
                display: inline-block;
    
                a {
                    color: $black;
                    text-decoration: none;
                    padding: $btn-padding;
                    font-size: 17px;

                    &:hover, &.navbar__active {
                        background-color: $purple;
                        color: $grey;
                    }

                    &.navbar__register {
                        background-color: $purple-light;
                        color: $grey;

                        &:hover {
                            background-color: darken($purple-light, 10%);
                        }
                    }
                }
            }
        }
    }    
}
