.header {
  width: 100vw;
  line-height: 1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(96, 118, 176, 0.97);
  padding: 0;
  margin: 0;

  -webkit-transition: background-color $header-bg-transition-time ease;
  -ms-transition: background-color $header-bg-transition-time ease;
  transition: background-color $header-bg-transition-time ease;

  &.header--no-bg {
    background-color: transparent;
    -webkit-transition: background-color $header-bg-transition-time ease;
    -ms-transition: background-color $header-bg-transition-time ease;
    transition: background-color $header-bg-transition-time ease;
  }

  .header__container {
    margin: 0 auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .navbar {
      display: inline-block;
      float: right;
      margin-top: 30px;

      ul {
        // display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;

          a {
            color: $grey;
            text-decoration: none;
            padding: $btn-padding;
            font-size: 17px;
            display: inline-block;

            &:hover,
            &.navbar__active {
              background-color: $purple;
              color: $grey;
            }

            &.navbar__register {
              background-color: $purple-light;
              color: $grey;

              &:hover {
                background-color: darken($purple-light, 10%);
              }
            }
          }
        }
      }
    }

    .header__title {
      display: inline-block;
      margin: 0;
      line-height: 0;
    }

    .header__logo {
      max-width: 100px;
    }
  }

  label,
  input {
    display: none;
  }
}

@media (max-width: $medium-breakpoint) {
  .header {
    line-height: 35px;

    .header__container {
      display: flex;
      justify-content: space-between;
      vertical-align: center;

      .navbar {
        will-change: transform;
        position: fixed;
        transform: translateX(0);
        width: 70%;
        top: 0;
        right: -70%;
        height: 100%;
        background-color: $mobile-nav-background-color;
        transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
        margin-top: 0;

        ul {
          margin-top: 70px;
          text-align: right;

          li {
            display: block;
            width: 100%;
            a {
              color: $black;
              display: inline-block;
              width: 100%;
            }
          }
        }
      }

      .header__logo {
        max-width: 50px;
      }

      // Toggle for the mobile nav menu
      input,
      label {
        z-index: 2;
      }

      input {
        display: none;
      }

      label {
        display: inline-block;
        line-height: 60px;
        fill: $white;
        -webkit-transition: fill $header-bg-transition-time ease;
        -ms-transition: fill $header-bg-transition-time ease;
        transition: fill $header-bg-transition-time ease;
      }

      input:checked ~ label {
        fill: $black;
      }

      input:checked ~ nav {
        transform: translateX(-100%);
      }
    }
  }
  #mlh-trust-badge {
    right: 25vw !important;
  }
}
