.hero__wrapper {
  $hero-height: 100vh; // this essentially says 'lets use 90% height on .hero__wrapper'

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: $hero-height;
  min-height: 450px;
  padding: 0;
  background-color: $white;
  color: $black;
  overflow: hidden;

  .hero__video {
    // position: absolute;
    // top: 0;
    z-index: -1;
    // width: 100%;
    object-fit: cover;
    width: 100%;
    height: $hero-height;
    max-height: $hero-height;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.down-chevron {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  text-align: center;
  font-size: 5em;
  margin: 0 auto;

  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    color: $grey;
  }
}

.hero {
  .hero__heading {
    margin: 0;
    z-index: 10;
    font-size: 5em;
  }

  p {
    margin: 0;
  }

  .btn {
    margin-top: 1rem;
    margin-right: 10px;
  }
}

@media (max-width: $small-breakpoint) {
  // fixes issue with the buttons breaking lines on very small screens
  .hero {
    .btn {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $small-breakpoint) {
  .hero{
    .hero__heading {
      font-size: 2em;
    }
  }
}