.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $black;
  color: $white;
  overflow: hidden;
  padding: 0;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  color: $white;
  position: relative;

  .hero__heading {
    text-align: left;
    margin: 0;
    font-size: 120px;
    letter-spacing: 7px;
  }

  .hero__text {
    text-align: left;
  }

  .hero__input {
    padding: 16px 20px;
    margin: 2%;
    width: 75%;
    height: 65px;
    font-family: $body-font-family;
    border-radius: 9px;
    background: $white;
    border-style: none;
    transition: background 300ms;
    font-size: 22px;
  }

  .revuc-logo {
    max-width: 11.6vw;
    min-width: 32px;
    position: absolute;
    top: 2em;
    left: -12em;
  }

  .hero__button {
    background-color: $white;
    border-radius: 9px;
    height: 65px;
  }
}

// Email pre-reg styles
.submit-success,
.submit-error {
  display: none;
}

// Responsive design

@media (max-width: $large-breakpoint) {
  .hero {
    .hero__heading {
      font-size: 80px;
      text-align: center;
    }

    .hero__text {
      text-align: center;
      font-size: 24px;
    }

    .hero__input {
      font-size: 24px;
    }

    .revuc-logo {
      position: static;
      text-align: center;
      min-width: 100px;
    }

    #email-notification {
      display: flex;
      flex-direction: column;
      align-items: center;

      .hero__input {
        width: 75%;
      }

      .btn {
        margin-top: 1rem;
        width: 50%;
      }
    }
  }
}

@media (max-width: $medium-breakpoint) {
  .hero {
    .hero__heading {
      font-size: 64px;
    }

    .hero__text {
      font-size: 20px;
    }
  }
}

@media (max-width: $small-breakpoint) {
  // fixes issue with the buttons breaking lines on very small screens
  .hero {
    .btn {
      margin-bottom: 0;
    }

    .hero__heading {
      font-size: 48px;
    }

    .hero__text {
      font-size: 16px;
    }

    .hero__input {
      font-size: 16px;
      height: 50%;
    }

    .btn {
      padding: 13px 8px;
      font-size: 16px;
      height: 40%;
    }
  }
}

@media (max-width: $x-small-breakpoint) {
  .hero {
    .hero__heading {
      font-size: 42px;
    }

    .hero__text {
      font-size: 14px;
    }
  }
}
/*
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes move_cloud {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(0px, -15px);
  }
  50% {
    transform: translate(15px, -15px);
  }
  75% {
    transform: translate(15px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
*/
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
