.hero__wrapper {
    $hero-height: 95vh; // this essentially says 'lets use 90% height on .hero__wrapper'

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 125px;
    height: $hero-height;
    min-height: 450px;
    background-color: rgba($color: $purple, $alpha: 0.45);
    color: $white;

    video {
        // position: absolute;
        // top: 0;
        z-index: -1;
        // width: 100%;
        object-fit: cover;
        width: 100vw;
        height: $hero-height;
        max-height: $hero-height;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.hero {
    .hero__heading {
        margin: 0;
    }

    p {
        margin: 0;
    }

    .btn {
        margin-top: 1rem;
    }
}
