 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: $white;
    margin: 5% 25%; /* 5% from the top and centered */
    padding: 1rem;
    width: 50%; /* Could be more or less, depending on screen size */
    @media (max-width: $medium-breakpoint) {
        width: 90%;
        margin: 5% 5%;
    }

    p {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    animation-name: animateIn;
    animation-duration: 0.4s;
  }

  .modal-nav__prev {
    color: $grey;
    font-size: 2rem;
    text-align: left;
    align-self: center;
  }

  .modal-nav__next {
    color: $grey;
    font-size: 2rem;
    text-align: right;
    align-self: center;
  }

  .modal-nav__prev:hover,
  .modal-nav__prev:focus,
  .modal-nav__next:hover,
  .modal-nav__next:focus {
    color: $black;
    text-decoration: none;
    cursor: pointer;
  }

  @keyframes animateIn {
    from {opacity: 0}
    to {opacity: 1}
  }
  
  /* The Close Button */
  .close {
    color: $grey;
    float: right;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1rem;
    padding-bottom: 8px;
  }
  
  .close:hover,
  .close:focus {
    color: $black;
    text-decoration: none;
    cursor: pointer;
  } 