.page-header {
    position: relative;

    .page-header__img {
        background-size: cover !important;
        background-position: center center !important;
        background-repeat: no-repeat !important; // these three must use `!important` to override the style attribute
        width: 100%;
        height: 425px;
        filter: brightness(50%);
        @media (max-width: $medium-breakpoint) {
            height: 300px;
        }
    }

    .page-header__content {
        position: absolute;
        bottom: 0;
        padding: 32px;

        h1, p {
            margin: 0;
            color: $white;
        }
    }
}