.past-hacks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .hack {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 150px;
    }
  }
}
