$tablet-breakpoint: 992px;

form {
  width: 100%;
  position: relative;
  border: 2px solid $purple;

  .form-block {
    position: relative;
    min-height: 75px;
    padding: 35px 15px 15px 15px;
  }

  h1#registrationTitle {
    margin: 0;
    padding: 0;
    font-size: 40px;
    letter-spacing: 2px;
    text-align: center;
    color: $purple;
  }

  /* Borders */
  .b-top { border-top: 2px solid $purple; }
  .b-bottom { border-bottom: 2px solid $purple; }
  .b-left {
    border-left: 2px solid $purple;

    @media (max-width: $tablet-breakpoint) {
      border: none;
    }
  }
  .b-right {
    border-right: 2px solid $purple;

    @media (max-width: $tablet-breakpoint) {
      border: none;
      border-bottom: 2px solid $purple;
    }
  }

  /* Circles */
  .circle {
    width: 10px;
    height: 10px;

    position: absolute;

    background-color: white;
    border: 2px solid $purple;
    border-radius: 50%;
  }

  .circle.top { top: -6px;}
  .circle.left { left: -6px;}
  .circle.bottom { bottom: -6px;}
  .circle.right { right: -6px;}

  /* Form elements */

  input[type=text], input[type=date], input[type=number],
  input[type=email], input[type=file], input[type=checkbox], textarea {
    width: 100%;
    font-size: 16px;
    font-family: inherit;
    background-color: inherit;
    border: none;
    outline: none;
    box-sizing: border-box;
  }

  input:focus { outline: none; }

  input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px $body-background-color inset;
  }

  /* File input */
  input[type=file] {
    padding: 0;
  }

  /* Selects */

  select {
            appearance: none;
       -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    border-radius: 0;
    height: 24px;
    padding-left: 8px;
    padding-right: 8px;
    border: 2px solid $purple;
    font-size: 15px;
    text-transform: uppercase;

    &:focus {
      outline: none;
    }
  }

  /* Labels */

  label {
    margin: 0; padding: 0;
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    vertical-align: middle;
  }

  label.tag {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    padding: 5px;

    font-size: 12px;
    color: white;

    background-color: $purple;
    transition: background-color 0.3s cubic-bezier(0, 0, 0.3, 1);
  }

  label.tag.error {
    background-color: #ff3535;
  }

  /* CHECKBOXES & RADIOS */

  input[type=radio] {
    width: 30px;
    opacity: 0;
  }

  /*input[type=radio]+label:before,*/
  input[type=radio]+label:before {
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    left: -40px;
    top: 0;

    font-size: 14px;
    text-align: center;
    line-height: 13px;

    border: 2px solid $purple;
    border-radius: 50%;
  }

  input[type=radio]:checked + label:before {
    background-color: $purple;
    padding-left: 1px;
  }

  input[type=checkbox] {
    display: none;

    &+ label {
      cursor: pointer;

      &:before {
        content: '';
        display: inline-block;
        height: 20px;
        width: 20px;
        margin-right: 8px;
        margin-bottom: 4px;
        padding: 0;
        vertical-align: middle;
        border: 2px solid $purple;
      }
    }

    &:checked + label {
        &:before {
          background-color: $purple!important;
      }
    }
  }
}
