$tablet-breakpoint: 992px;

form {
  width: 100%;
  position: relative;
  border: 2px solid $grey;

  .form-block {
    position: relative;
    min-height: 75px;
    padding: 35px 15px 15px 15px;
  }

  .input--school {
    margin-bottom: 10px;

    &.hide {
      display: none;
    }
  }

  h1#registrationTitle {
    margin: 0;
    padding: 0;
    font-size: 40px;
    letter-spacing: 2px;
    text-align: center;
    color: $black;
  }

  /* Borders */
  .b-top {
    border-top: 2px solid $grey;
  }
  .b-bottom {
    border-bottom: 2px solid $grey;
  }
  .b-left {
    border-left: 2px solid $grey;

    @media (max-width: $tablet-breakpoint) {
      border: none;
    }
  }
  .b-right {
    border-right: 2px solid $grey;

    @media (max-width: $tablet-breakpoint) {
      border: none;
      border-bottom: 2px solid $grey;
    }
  }

  /* Circles */
  .circle {
    width: 10px;
    height: 10px;

    position: absolute;

    background-color: white;
    border: 2px solid $grey;
    border-radius: 50%;
  }

  .circle.top {
    top: -6px;
  }
  .circle.left {
    left: -6px;
  }
  .circle.bottom {
    bottom: -6px;
  }
  .circle.right {
    right: -6px;
  }

  /* Form elements */

  input[type="text"],
  input[type="date"],
  input[type="number"],
  input[type="email"],
  input[type="file"],
  input[type="checkbox"],
  textarea {
    width: 100%;
    font-size: 16px;
    font-family: inherit;
    background-color: inherit;
    border: none;
    outline: none;
    box-sizing: border-box;
  }

  input:focus {
    outline: none;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $body-background-color inset;
  }

  /* File input */
  input[type="file"] {
    padding: 0;
  }

  /* Selects */

  select,
  .awesomplete > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    border-radius: 0;
    height: 24px;
    padding-left: 8px;
    padding-right: 8px;
    border: 2px solid $grey;
    font-size: 15px;
    text-transform: uppercase;

    &:focus {
      outline: none;
    }
  }

  /* Labels */

  label {
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    vertical-align: middle;
  }

  label.tag {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    padding: 5px;

    font-size: 12px;
    color: white;

    background-color: $grey;
    transition: background-color 0.3s cubic-bezier(0, 0, 0.3, 1);
  }

  label.tag.error {
    background-color: #ff3535;
  }

  /* CHECKBOXES & RADIOS */

  input[type="radio"] {
    width: 30px;
    opacity: 0;
  }

  /*input[type=radio]+label:before,*/
  input[type="radio"] + label:before {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    left: -40px;
    top: 0;

    font-size: 14px;
    text-align: center;
    line-height: 13px;

    border: 2px solid $grey;
    border-radius: 50%;
  }

  input[type="radio"]:checked + label:before {
    background-color: $grey;
    padding-left: 1px;
  }

  input[type="checkbox"] {
    display: none;

    & + label {
      cursor: pointer;

      &:before {
        content: "";
        display: inline-block;
        height: 20px;
        width: 20px;
        margin-right: 8px;
        margin-bottom: 4px;
        padding: 0;
        vertical-align: middle;
        border: 2px solid $grey;
      }
    }

    &:checked + label {
      &:before {
        background-color: $grey !important;
      }
    }
  }
}

/* Combobox dropdown */
.dropdown-btn {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border-radius: 0;
  height: 24px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 3px;
  border: 2px solid $grey;
  font-size: 14px;
  flex: 0 0;
}

.full-width-flex {
  width: 100%;
  justify-content: space-between;
}

/* Awesomplete Module */
.awesomplete [hidden] {
  display: none;
}

.awesomplete .visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.awesomplete {
  display: inline-block;
  position: relative;
  flex: 1 0;
}

.awesomplete > input {
  display: block;
}

.awesomplete > ul {
  position: absolute;
  left: 0;
  z-index: 1;
  min-width: 100%;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  background: $white;
  text-transform: uppercase;
  font-size: 15px;
}

.awesomplete > ul:empty {
  display: none;
}

.awesomplete > ul {
  border-radius: 0.3em;
  margin: 0.2em 0 0;
  background: hsla(0, 0%, 100%, 0.9);
  background: linear-gradient(to bottom right, white, hsla(0, 0%, 100%, 0.8));
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0.05em 0.2em 0.6em rgba(0, 0, 0, 0.2);
  text-shadow: none;
  max-height: 300px;
  overflow: scroll;
}

@supports (transform: scale(0)) {
  .awesomplete > ul {
    transition: 0.3s cubic-bezier(0.4, 0.2, 0.5, 1.4);
    transform-origin: 1.43em -0.43em;
  }

  .awesomplete > ul[hidden],
  .awesomplete > ul:empty {
    opacity: 0;
    transform: scale(0);
    display: block;
    transition-timing-function: ease;
  }
}

.awesomplete > ul > li {
  position: relative;
  padding: 0.2em 0.5em;
  cursor: pointer;
}

.awesomplete > ul > li:hover {
  background: $grey;
  color: $white;
}

.awesomplete > ul > li[aria-selected="true"] {
  background: $grey;
  color: $white;
}

.awesomplete mark {
  background: $grey;
}

.awesomplete li:hover mark {
  background: $grey;
}

.awesomplete li[aria-selected="true"] mark {
  background: hsl(86, 100%, 21%);
  color: inherit;
}
