.section,
section {
  padding-top: 70px;
  padding-bottom: 70px;

  img,
  .masthead {
    border-radius: 6px;
  }
  .masthead {
    height: calc(75vh - 80px);
    width: 100%;
    background-size: cover;
  }
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .image,
  .text,
  .sponsor-image {
    padding-left: 10px;
    padding-right: 10px;
  }
  .image {
    flex: 1 1 33%;
    min-width: 200px;
  }
  .text {
    flex: 2 2 66%;
  }
}

// @media (max-width: $x-small-breakpoint) {
//   .main .section {
//     padding: 20px 0;
//   }
// }
