.section, section {
  padding-top: 70px;
  padding-bottom: 70px;

  @media (max-width: $small-breakpoint) {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  &.section--no-padding-top {
    padding-top: 0;
  }

  p {
    margin-top: 0;
  }

  img,
  .masthead {
    border-radius: 6px;
  }
  .masthead {
    height: calc(75vh - 80px);
    width: 100%;
    background-size: cover;
  }
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
  // reverse columns on smaller devices
  &.flex--reverse-small {
    @media (max-width: $small-breakpoint) {
      flex-direction: column-reverse;
    }
  }

  .image,
  .text,
  .sponsor-image {
    padding-left: 15px;
    padding-right: 15px;
  }

  .image {
    flex: 1 1 40%;
    min-width: 200px;
    @include vertical-align;
  }

  .text {
    flex: 2 2 60%;
    @include vertical-align;

    p {
      margin: 0;

      @media (max-width: $small-breakpoint) {
        margin-top: 16px;
      }
    }
  }
  .sponsor-image {
    min-width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .acm-logo {
    min-width: 200px;
  }
}



// @media (max-width: $x-small-breakpoint) {
//   .main .section {
//     padding: 20px 0;
//   }
// }
