.table {
    &.table--past-hacks {
        margin: 0 auto;
        padding: 0 20px;

        tr {
            td {
                text-align: center;
            }
        }

        .past__hacks__image {
            max-width: 100px;
        }
    }
}
