// Used to wrap a video (or other iframe things)
// http://stackoverflow.com/a/15844571/6464719
.video {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%; // to accomodate a 1280x720 size
    padding-top: 35px;
    height: 0;

    &.iframe--facebook {
        max-width: 600px;
        margin: 0 auto;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
