// Colors
$white: #f0f0f0;
$black: #333;
$grey: #A9A9A9;
$lightgrey: lightgrey;

// $prim-color-1: #f7a177;
$prim-color-1: #111;
$prim-color-2: #fc7a1e;
$prim-color-3: #fff;
$prim-color-4: #8ad9f8;
$prim-color-5: #ffe14d;

$mobile-nav-background-color: $white;
$body-background-color: $white;
$header-transition-time: 500ms;

// Fonts
$body-font-family: 'Raleway', sans-serif;
// $heading-font-family: url('/css/Psychedelia\ HM.ttf'), cursive;
$heading-font-family: 'Forum', cursive;
$base-font-size: 18px;
$lead-font-size: 20px;

// Buttons
$btn-font-size: 22px;
$btn-padding: 16px 10px;

// Container
$container-width: 800px;
$container-sponsor: 1000px;
$container-width-small: 700px;
$container-width-large: 950px;
$padding: 20px;

// Breakpoints
$x-small-breakpoint: 390px;
$small-breakpoint: 560px;
$medium-breakpoint: 790px;
$large-breakpoint: 1200px;