// Colors
$white: #fff;
$black: #333;
$grey: #f9f9f9;
$purple: #3754a5;
$purple-light: #9ba7ce;

$mobile-nav-background-color: $grey;
$body-background-color: $grey;
$header-transition-time: 500ms;

// Fonts
$body-font-family: "Lato", sans-serif;
$heading-font-family: "Josefin Sans", sans-serif;
$base-font-size: 20px;
$lead-font-size: 22px;

// Buttons
$btn-font-size: 22px;
$btn-padding: 16px 20px;

// Container
$container-width: 800px;
$container-width-small: 700px;
$container-width-large: 950px;
$padding: 20px;

// Breakpoints
$x-small-breakpoint: 350px;
$small-breakpoint: 560px;
$medium-breakpoint: 790px;
