// Colors
$white: #fff;
$black: #333;
$prim-color-1: #761E3D; //#f9f9f9;
$prim-color-2: #954B67;
$prim-color-3: #DEB9CF;
$prim-color-4: #A69B9D;
$prim-color-5: #FF9F0A;
$grad-color-1: #873652;
$grad-color-2: #954B67;
$grad-color-3: #9F5C76;
$grad-color-4: #BC869F;
$grad-color-5: #DEB9CF;
$grad-color-6: #D4B3C8;
$grad-color-7: #BFA9B3;
$grad-color-8: #A69B9D;
//$purple: #3754a5;
//$purple-light: #9ba7ce;
//$purple-xtra-light: #c9d0e8;

$mobile-nav-background-color: $white;
$body-background-color: $white;
$header-transition-time: 500ms;

// Fonts
$body-font-family: "Lato", sans-serif;
$heading-font-family: "Josefin Sans", sans-serif;
$base-font-size: 20px;
$lead-font-size: 22px;

// Buttons
$btn-font-size: 22px;
$btn-padding: 16px 20px;

// Container
$container-width: 800px;
$container-width-small: 700px;
$container-width-large: 950px;
$padding: 20px;

// Breakpoints
$x-small-breakpoint: 350px;
$small-breakpoint: 560px;
$medium-breakpoint: 790px;
