*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: $body-font-family;
  color: $black;//$prim-color-1;
  font-size: $base-font-size;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: $white;
}

body {
  overflow-x: hidden; // to accomodate elements wider than the screen
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;

  @media (max-width: $small-breakpoint) {
    text-align: left;
  }
}

img {
  margin: 0;
  max-width: 100%;
}

p {
  margin-top: 40px;
  margin-bottom: 40px;

  a {
    color: $grey;
  }

  &.lead {
    font-size: $lead-font-size;

    @media (max-width: $medium-breakpoint) {
      font-size: $lead-font-size * 0.8;
    }
  }
}
