*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: $body-font-family;
  color: $black;
  font-size: $base-font-size;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: $grey;
}

body {
  overflow: hidden; // to accomodate elements wider than the screen
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
}

.text-center {
  text-align: center;
}

img {
  margin: 0;
  max-width: 100%;
}

p {
  a {
    color: $purple;
  }

  &.lead {
    font-size: $lead-font-size;

    @media (max-width: $medium-breakpoint) {
      font-size: $lead-font-size * 0.8;
    }
  }
}
