{% include header.html %}

<section class="hero">
  <div id="particles-js"></div>
  <div class="hero__wrapper">
    <img class="revuc-logo" src="/img/revuc-logos/revuc-spring-2023.svg" alt="RevUC Logo">
    <div id="hero__text-wrapper ">
      <img class="hero__header-image" src="/img/revuc-logos/revuc_long_white.png" alt="RevUC Long logo">
      <div class="hero__text">
        <!-- ========== Interest form info and button ========== -->
        {% if site.data.config.homepage.timeline == "pre-registration" %}
        <!-- <p>A hackathon hosted at the University of Cincinnati on {{ site.data.config.eventData.fullDate }}</p> -->
        <p>Sign up here to get updates about RevolutionUC {{ site.data.config.eventData.date.year }}</p>
        <p>And be notified when registration goes live!</p>

        <form
          id="email-notification"
          name="email-preRegistration"
          method="POST"
          data-netlify="true"
          data-netlify-recaptcha="true"
          class="hero__email"
        >
          <input name="emailAddress" class="hero__input" type="email" placeholder="Enter Email here..." id="email-notification-input" required />
          <button type="submit" class="btn btn--primary hero__button">Notify me!</button>
        </form>

        </div>
        <!-- Email Pre-reg script -->
        <script src="/js/subscribe.js" async defer></script>
        {% endif %}
      </div>

      <!-- ========== Registration info and button ========== -->
      {% if site.data.config.homepage.timeline == "registration" %}
      <p>A hackathon hosted at the University of Cincinnati - {{ site.data.config.eventData.fullDate }}</p>
      <p>Interested? Register to participate!</p>
      <div class="hero__heading">
        <a class="btn btn--primary" href="/register">Register Now</a>
      </div>
      {% endif %}
      <!-- ================================================== -->

      <!-- ========== Live button ========== -->
      {% if site.data.config.homepage.timeline == "live" %}
      <p>A hackathon hosted at the University of Cincinnati - {{ site.data.config.eventData.fullDate }}</p>
      <p>Live now!</p>
      <div class="hero__heading">
        <a class="btn btn--primary" href="/live">Live Site</a>
      </div>
      {% endif %}
      <!-- ================================================== -->
      <!-- ========== Post hackathon info and button ========== -->
      {% if site.data.config.homepage.timeline == "post-registration" %}
      <p>Thank you all for participating in this year's RevolutionUC!</p>
      <div class="hero__heading">
        <!-- Link to submissions -->
        <a class="btn btn--primary" href="{{ site.data.config.eventData.submissions }}" target="_" rel="noopener">View Submissions</a>
      </div>
      {% endif %}
      <!-- ================================================== -->
    </div>

  </div>



  <!-- </div> -->
  <!-- fin theme -->

</section>

 <!-- Import Particles.js -->
<script src="/js/particles.js"></script>
<script src="/js/app.js"></script>

{{ content }}

{% include footer.html %}
