{% include header.html %}

<section class="hero__wrapper">
  <div class="hero container container--small">
    <h1 class="hero__heading">RevolutionUC</h1>

    <!-- ========== Interest form info and button ========== -->
    {% if site.data.config.homepage.timeline == "pre-registration" %}
    <p>A hackathon hosted at the University of Cincinnati - {{ site.data.config.eventData.fullDate }}</p>
    <p>Sign up here to get updates about RevolutionUC {{ site.data.config.eventData.date.year }}</p>
    <p>And be notified when registration goes live!</p>
      <!-- Link to interest form -->
    <div class="hero__email">
      <form id="email-notification">
        <input name="emailAddress" class="hero__input" type="email" placeholder="Email" required />
        <button type="submit" class="btn btn--primary hero__button">Notify me</a>
      </form>
    </div>
    {% endif %}
    <!-- ================================================== -->

    <!-- ========== Registration info and button ========== -->
    {% if site.data.config.homepage.timeline == "registration" %}
    <p>A hackathon hosted at the University of Cincinnati - {{ site.data.config.eventData.fullDate }}</p>
    <p>Interested? Register to participate!</p>
    <div class="hero__heading">
      <a class="btn btn--primary" href="/register">Register Now</a>
    </div>
    {% endif %}
    <!-- ================================================== -->

    <!-- ========== Post hackathon info and button ========== -->
    {% if site.data.config.homepage.timeline == "post-registration" %}
    <p>Thank you all for participating in this year's RevolutionUC!</p>
    <div class="hero__heading">
      <!-- Link to submissions -->
      <a class="btn btn--primary" href="{{ site.data.config.eventData.submissions }}" target="_" rel="noopener">View Submissions</a>
    </div>
    {% endif %}
    <!-- ================================================== -->

    <div class="down-chevron"><a href="#main">&#x2304;</a></div>
  </div>

  <div class="waveWrapper waveAnimation">
    <div class="waveWrapperInner bgTop">
      <div class="wave waveTop" style="background-image: url('https://assets.revolutionuc.com/website-images/2021/waves/waves1_blue.png')"></div>
    </div>
    <div class="waveWrapperInner bgMiddle">
      <div class="wave waveMiddle" style="background-image: url('https://assets.revolutionuc.com/website-images/2021/waves/waves2_purple.png')"></div>
    </div>
    <div class="waveWrapperInner bgBottom">
      <div class="wave waveBottom" style="background-image: url('https://assets.revolutionuc.com/website-images/2021/waves/waves3_teal.png')"></div>
    </div>
  </div>
</section>
<script src=/js/subscribe.js async defer></script>

{{ content }}

{% include footer.html %}
